.Third {
  background-color: #f0932b;
  color: white;
  display: flex;
  width: 80%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding: 0 10%;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 768px) {
    padding: 0;
    width: 100%;
  }
}

.Third_bad {
  background-color: #ff6b6b;
  color: white;
}

.Third__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

.Third__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.Third__inputs {
  background-color: white;
  color: rgba(18, 41, 71, 0.8);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 16px;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 33%;
  }
}

.Third__button {
  background-color: rgba(18, 41, 71, 0.8);
  cursor: pointer;
  color: white;
  border: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: "Montserrat", "Roboto", sans-serif;
  padding: 16px;
  outline: none;
  transition: all 0.5s ease-in-out;
}

.Third__inputCheckbox {
  display: flex;
  flex-direction: row;
  padding: 32px;
}

.Third__input {
  border: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  font-family: "Montserrat", "Roboto", sans-serif;
  padding: 16px;
  outline: none;
}
